# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
*.env

# Database
*.db
*.sqlite3

# Node / frontend
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
